<nav class="navbar navbar-expand navbar-dark bg-primary mb-4">
  <div class="container">
    <a routerLink="/" class="navbar-brand">Sandbox App</a>

    <div>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{exact:true}"
        >
          <a routerLink="/" class="nav-link">Home</a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{exact:true}"
        >
          <a routerLink="/users" class="nav-link">Users</a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{exact:true}"
        >
          <a routerLink="/posts" class="nav-link">Posts</a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{exact:true}"
        >
          <a routerLink="/template-form" class="nav-link">Template Driven Form</a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{exact:true}"
        >
          <a routerLink="/reactive-form" class="nav-link">Reactive Form</a>
        </li>


                <!-- If User Is Logged In Boolean Is True -->
                <li
                *ngIf="!isUserLogged"
                class="nav-item"
                [routerLinkActive]="['active']"
                [routerLinkActiveOptions]="{exact:true}"
              >
                <a
                  href="#"
                  class="nav-link"
                  >Login</a>
              </li>

              <!-- If User Is Logged In Boolean Is False -->
              <li
                *ngIf="isUserLogged"
                class="nav-item"
                [routerLinkActive]="['active']"
                [routerLinkActiveOptions]="{exact:true}"
              >
                <a
                  href="#"
                  class="nav-link"
                >Logout</a>
              </li>



      </ul>
    </div>
  </div>
</nav>