<button (click)="showUserForm = !showUserForm" class="btn btn-dark mb-3">
  Add User
</button>
<div class="card-card-body mb-3" *ngIf="showUserForm">
  <h2>Add User</h2>

  <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">
    <div class="form-group">
      <label>First Name</label>
      <!-- special variable for input = to ngModel -->
      <input
        type="text"
        [(ngModel)]="user.firstName"
        [ngClass]="{
          'is-invalid':userFirstName.errors && userFirstName.touched
        }"
        class="form-control"
        name="firstName"
        #userFirstName="ngModel"
        required
        minlength="2"
      />

      <!-- Validation error message needs to be in the form group div -->
      <div [hidden]="!userFirstname.errors?.required" class="invalid-feedback">
        First name required
      </div>

      <div [hidden]="!userFirstname.errors?.minlength" class="invalid-feedback">
        Must be at least 2 characters
      </div>

    </div>
    <div class="form-group">
      <label>Last Name</label>
      <input
        type="text"
        [(ngModel)]="user.lastName"
        class="form-control"
        name="lastName"
      />
    </div>

    <div class="form-group">
      <label>Email</label>
      <input
        type="text"
        [(ngModel)]="user.email"
        class="form-control"
        name="email"
      />
    </div>

    <!-- validation for checking all fields on the form are valid, if any are not valid button will be disabled -->
    <button
      [disabled]="!userForm.form.valid"
      class="btn btn-light btn-block mb-3"
    >
      Add new user
    </button>
  </form>
</div>

<button (click)="fireEvent($event)" [ngClass]="currentClasses">
  Sandbox button
</button>
<!-- this button is disabled through property binding if the enableAdd boolean is set to false -->

<button class="btn btn-primary" (click)="toggleShowExtended()">
  Toggle User Info
</button>
<ul class="list-unstyled" *ngIf="loaded && users?.length > 0">
  <!-- ngFor, loop through users array on ts file, display data from that loop -->
  <li class="card card-body mb-2" *ngFor="let user of users">
    <div class="row" [class.bg-light]="user.isActive">
      <div class="col-sm-8">
        <h3 [ngStyle]="currentStyle">
          {{ user.firstName }} {{ user.lastName }}
          <small>
            <button
              (click)="user.hide = !user.hide"
              class="btn btn-dark btn-small"
            >
              <i [ngClass]="user.hide ? 'fa fa-plus' : 'fa fa-minus'"></i>
            </button>
          </small>
        </h3>
        <!-- the stuff below will be displayed only if showExtended is true and the user has an age and address property. -->
        <ul class="list-group" *ngIf="!user.hide">
          <div class="col-sm-4">
            <!-- bind the image here -->
            <!-- 3 ways for property binding -->

            <img
              *ngIf="user.image"
              class="img-fluid"
              [src]="user.image"
              alt="user image"
            />

            <!-- <img *ngIf="user.image" class="img-fluid" src={{user.image}} alt="user image"> -->

            <!-- <img *ngIf="user.image" class="img-fluid" bind-src="user.image" alt="user image"> -->
          </div>
          <li class="list-group-item">First Name: {{ user.firstName }}</li>
          <li class="list-group-item">Last Name: {{ user.lastName }}</li>
          <li class="list-group-item">Email: {{ user.email }}</li>
          <li class="list-group-item">
            Registered: {{ user.registered | date }}
          </li>
        </ul>
      </div>
    </div>
  </li>
</ul>
<!-- <ul *ngIf="!user.hide && user.age && user.address">
      <li class="list-group-item">
        <span>{{ user.firstName}} is {{ user.age }} years old.</span>
      </li>
    </ul> -->

<!-- Make ng-template element for else statement on line 2 -->
<!-- <ng-template #noUsers><h4>No Users</h4></ng-template> -->

<!-- You can do it this way if you dont want to use ng-template, dont use else in ngIf statement if doing this way -->
<h4 *ngIf="users?.length == 0">No Users</h4>

<h4 *ngIf="!loaded">Loading Users...</h4>
